specification/report/specs.aux
specification/report/specs.log
specification/report/specs.out
specification/report/specs.synctex.gz
specification/report/specs.toc
bin/
sfa-backend/SalesForceAutomation/SalesForceAutomation.v12.suo
sfa-backend/SalesForceAutomation/SalesForceAutomation.sln
obj/
sfa-backend/SalesForceAutomation/SalesForceAutomation.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sfa-backend/SalesForceAutomation/SalesForceAutomation.v12.suo
sfa-backend/SalesForceAutomation/SalesForceAutomation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sfa-backend/SalesForceAutomation/SalesForceAutomation.v12.suo
sfa-backend/SalesForceAutomation/SalesForceAutomation/obj/Debug/SalesForceAutomation.pdb
sfa-backend/SalesForceAutomation/SalesForceAutomation/obj/Debug/SalesForceAutomation.dll
sfa-backend/SalesForceAutomation/SalesForceAutomation/obj/Debug/SalesForceAutomation.csprojResolveAssemblyReference.cache
sfa-backend/SalesForceAutomation/SalesForceAutomation/obj/Debug/SalesForceAutomation.csproj.FileListAbsolute.txt


