    <div class="container">
        <div class="row">
            <!-- Form To Display Client Information -->
            <form role="form">

                <!-- Customer Name -->
                <div class="form-group row">
                    <label for="customer_name" class="col-sm-2 col-form-label"> Nome: </label>
                    <div name=customer_name" class="col-sm-10">
                        {{customerCtrl.customer.nome}}
                    </div>
                </div>

                <!-- Fiscal Name -->
                <div class="form-group row">
                    <label for="fiscal_name" class="col-sm-2 col-form-label"> Nome Fiscal: </label>
                    <div name="fiscal_name" class="col-sm-10">
                        {{customerCtrl.customer.nome_fiscal}}
                    </div>
                </div>

                <!-- NIF -->
                <div class="form-group row">
                    <label for="nif" class="col-sm-2 col-form-label"> NIF: </label>
                    <div name="nif" class="col-sm-10">
                        {{customerCtrl.customer.contribuinte}}
                    </div>
                </div>

                <!-- Address -->
                <div class="form-group row" ng-show="{{customerCtrl.customer.morada}}">
                    <label for="address" class="col-sm-2 col-form-label"> Morada: </label>
                    <div name="address" class="col-sm-10">
                        {{customerCtrl.customer.morada}}
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group row" ng-show="{{customerCtrl.customer.email}}">
                    <label for="email" class="col-sm-2 col-form-label"> Email: </label>
                    <div name="email" class="col-sm-10">
                        {{customerCtrl.customer.email}}
                    </div>
                </div>

                <!-- Telefone -->
                <div class="form-group row" ng-show="{{customerCtrl.customer.telefone}}">
                    <label for="telephone" class="col-sm-2 col-form-label"> Telefone: </label>
                    <div name="telephone" class="col-sm-10">
                        {{customerCtrl.customer.telefone}}
                    </div>
                </div>

                <!-- Total de Vendas -->
                <div class="form-group row">
                    <label for="total-sales" class="col-sm-2 col-form-label control-label"> Total Vendas: </label>
                    <div name="total-sales" class="col-sm-10">
                        {{customerCtrl.customer.vendas}} €
                    </div>
                </div>
            </form>
        </div>
    </div>