<div class="widget widget-nopad">
    <div class="widget-header">
        <i class="fa fa-fw fa-address-card"></i> Dados do cliente
    </div>

    <div class="widget-content">
        <div class="container row-align-center">
            <div class="span10">
                <form role="form">

                    <!-- Customer Name -->
                    <div class="form-group row">
                        <label for="customer_name" class="col-sm-2 col-form-label"> Nome </label>
                        <div name=customer_name" class="col-sm-5">
                            {{customer.nome}}
                        </div>
                    </div>

                    <!-- Fiscal Name -->
                    <div class="form-group row">
                        <label for="fiscal_name" class="col-sm-2 col-form-label"> Nome fiscal </label>
                        <div name="fiscal_name" class="col-sm-5">
                            {{customer.nome_fiscal}}
                        </div>
                    </div>

                    <!-- NIF -->
                    <div class="form-group row">
                        <label for="nif" class="col-sm-2 col-form-label"> NIF </label>
                        <div name="nif" class="col-sm-5">
                            {{customer.contribuinte}}
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="form-group row" ng-show="{{customer.morada}}">
                        <label for="address" class="col-sm-2 col-form-label"> Morada </label>
                        <div name="address" class="col-sm-5">
                            {{customer.morada}}
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group row" ng-show="{{customer.email}}">
                        <label for="email" class="col-sm-2 col-form-label"> Email </label>
                        <div name="email" class="col-sm-5">
                            {{ccustomer.email}}
                        </div>
                    </div>

                    <!-- Telefone -->
                    <div class="form-group row" ng-show="{{customer.telefone}}">
                        <label for="telephone" class="col-sm-2 col-form-label"> Telefone </label>
                        <div name="telephone" class="col-sm-5">
                            {{customer.telefone}}
                        </div>
                    </div>

                    <!-- Total de Vendas -->
                    <div class="form-group row">
                        <label for="total-sales" class="col-sm-2 col-form-label control-label"> Total de
                            vendas </label>
                        <div name="total-sales" class="col-sm-5">
                            {{customer.vendas | currency: "€"}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>