<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h4 class="pull-right" ng-show="customer.Vendas > 0">{{customer.Vendas | currency:"€"}}</h4>
            <h4><a href="/cliente?id={{customer.CodCliente}}">{{customer.Nome}}</a></h4>
            <p>{{customer.Fac_Tel}}</p>
            <p>{{customer.Fac_Mor}}</p>
        </div>
    </div>
</div>

