<div ng-controller="CustomersController as customersCtrl" ng-init="customersCtrl.initCtrl()">
    <select id="costumer-selector" class="form-control selectpicker"
            data-live-search-placeholder="Procurar por nome..."
            title="Clientes" data-live-search="true">
        <option ng-repeat="customer in customersCtrl.customers"
                value="{{customer.id}}" data-subtext="&emsp;{{customer.Fac_Tel}} ">
            {{customer.Nome}}
        </option>
    </select>
</div>

