<div ng-controller="CostumersController as costumersCtrl">
    <select id="client-selector" class="form-control selectpicker"
            data-live-search-placeholder="Procurar por nome..."
            title="Cliente" data-live-search="true">
        <option ng-repeat="costumer in costumersCtrl.costumers"
                value="{{costumer.id}}" data-subtext="&emsp;{{costumer.telefone}} ">
            {{costumer.nome}}
        </option>
    </select>
</div>

