<div class="widget widget-nopad">
    <div class="widget-header"><i class="fa fa-fw fa-calendar"></i>Calendário</div>
    <div class="widget-content">
        <br>
        <div id="calendar"></div>
    </div>
</div>

<!--fullcalendar-->
<script language="javascript" type="text/javascript" src="lib/fullcalendar/lib/moment.min.js"></script>
<script language="javascript" type="text/javascript" src="lib/fullcalendar/fullcalendar.min.js"></script>
<script language="javascript" type="text/javascript" src="lib/fullcalendar/locale/pt.js"></script>
<!-- /fullcalendar -->