<div class="widget widget-nopad">
    <div class="widget-header"><i class="fa fa-fw fa-calendar"></i> Eventos
        <a href="/criar_evento{{currentCtrl.customer.id? '?clienteId=' + currentCtrl.customer.id : ''}}" class="pull-right"><i class="fa fa-plus-square">&nbsp</i></a>
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">

                <section>
                    <form>
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 10%;">ID</th>
                                <th style="width: 15%;">Tipo</th>
                                <th style="width: 15%;">Data</th>
                                <th style="width: 40%;">Descrição</th>
                                <th style="width: 20%;" ng-show="currentCtrl.costumer.id">Cliente</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="event in currentCtrl.events | orderBy : '-data'">
                                <td><a href="evento?id={{event.id}}">{{event.id}}</a></td>
                                <td>{{event.tipo}}</td>
                                <td>{{event.data}}</td>
                                <td>{{event.descricao}}</td>
                                <td ng-show="currentCtrl.costumer.id">{{event.cliente}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </section>

            </div>
        </div>
    </div>
</div>