<title> <%= title %> </title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="SINF">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/sb-admin.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/pages/dashboard.css" />
<link rel='stylesheet' type="text/css" href="lib/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb-bootstrap.css">


<!-- JS -->
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="javascripts/custom/api-url.js"></script>
<script type="text/javascript" src="javascripts/custom/users-module.js"></script>
