<div class="widget widget-nopad">
    <!-- widget-header -->
    <div class="widget-header"><i class="fa fa-fw fa-address-card"></i> Cliente
        <a href="/novo_cliente" class="pull-right"><i class="fa fa-search">&nbsp</i></a>
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">

                <section ng-controller="CostumersController as costumerCtrl">
                    <select class="selectpicker" data-live-search="true">
                        <option> teste</option>
                        <option> t2este</option> <option> tes1te</option>
                    </select>

                    <select ng-options="costumer as costumer.nome for costumer in costumeCtrl.costumers track by costumer.id" ng-model="selectedCostumer"
                            class="selectpicker">
                        <p><a href="clientes/{{costumer.id}}">{{costumer.nome}}</a> <em class="pull-right">{{costumer.vendas
                                | currency:"€"}}</em></p>
                        </select>


                    <ul class="nav nav-pills">
                        <li ng-class="{ active:costumerCtrl.isSet(1) }">
                            <a href ng-click="costumerCtrl.setTab(1)">Top</a>
                        </li>
                        <li ng-class="{ active:costumerCtrl.isSet(2) }">
                            <a href ng-click="costumerCtrl.setTab(2)">Potenciais</a>
                        </li>
                        <li ng-class="{ active:costumerCtrl.isSet(3) }">
                            <a href ng-click="costumerCtrl.setTab(3)">Todos</a>
                        </li>
                    </ul>

                    <div ng-show="costumerCtrl.isSet(3)">
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="costumer in costumerCtrl.costumers | orderBy : '-vendas'">
                                <p><a href="clientes/{{costumer.id}}">{{costumer.nome}}</a> <em class="pull-right">{{costumer.vendas
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="costumerCtrl.isSet(2)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="costumer in costumerCtrl.costumers"
                                 ng-show="costumer.vendas==0">
                                <p><a href="clientes/{{costumer.id}}">{{costumer.nome}}</a><em class="pull-right">{{costumer.telefone}}</em>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="costumerCtrl.isSet(1)">
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="costumer in costumerCtrl.costumers | orderBy : '-vendas' | limitTo : 10">
                                <p><a href="clientes/{{costumer.id}}">{{costumer.nome}}</a> <em class="pull-right">{{costumer.vendas
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>