<!DOCTYPE html>
<html ng-app="sfa">

<head>
    <% include templates/comon/header.ejs %>
</head>


<body>

<div id="wrapper">
    <% include templates/comon/nav-bar.ejs %>

    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="container">
                <h1> Informação do Cliente: </h1>
                <!-- Form To Display Client Information -->
                <form ng-controller="CostumersController as costumerCtrl" role="form">

                    <!-- Costumer Name -->
                    <div class="form-group row">
                        <label for="costumer_name" class="col-sm-2 col-form-label"> Nome: </label>
                        <div class="col-sm-10">
                            <input name="costumer_name" type="text" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.nome}}" disabled />
                        </div>
                    </div>

                    <!-- Fiscal Name -->
                    <div class="form-group row">
                        <label for="fiscal_name" class="col-sm-2 col-form-label"> Nome Fiscal: </label>
                        <div class="col-sm-10">
                            <input name="fiscal_name" type="text" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.nome_fiscal}}" disabled />
                        </div>
                    </div>

                    <!-- NIF -->
                    <div class="form-group row">
                        <label for="nif" class="col-sm-2 col-form-label"> NIF: </label>
                        <div class="col-sm-10">
                            <input name="nif" type="text" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.contribuinte}}" disabled />
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="form-group row" ng-show="{{costumerCtrl.costumer.morada}}">
                        <label for="address" class="col-sm-2 col-form-label"> Morada: </label>
                        <div class="col-sm-10">
                            <input name="address" type="text" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.morada}}" disabled />
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group row" ng-show="{{costumerCtrl.costumer.email}}">
                        <label for="email" class="col-sm-2 col-form-label"> Email: </label>
                        <div class="col-sm-10">
                            <input name="email" type="email" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.email}}" disabled />
                        </div>
                    </div>

                    <!-- Telefone -->
                    <div class="form-group row" ng-show="{{costumerCtrl.costumer.telefone}}">
                        <label for="telephone" class="col-sm-2 col-form-label"> Telefone: </label>
                        <div class="col-sm-10">
                            <input name="telephone" type="tel" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.telefone}}" disabled />
                        </div>
                    </div>

                    <!-- Total de Vendas -->
                    <div class="form-group row">
                        <label for="total-sales" class="col-sm-2 col-form-label control-label"> Total Vendas: </label>
                        <div class="col-sm-10">
                            <input name="total-sales" type="text" class="form-control" style="width: 300px;" placeholder="{{costumerCtrl.costumer.vendas}}" disabled />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <% include templates/costumers/order_listing.ejs %>

        <% include templates/comon/footer.ejs %>

    </div>
</div>
<script type="text/javascript" src="javascripts/custom/costumer.js"></script>
</body>
</html>