<!DOCTYPE html>
<html ng-app="sfa">

<head>
    <% include templates/comon/header.ejs %>
</head>


<body>

<div id="wrapper">
    <% include templates/comon/nav-bar.ejs %>

    <div id="page-wrapper">

        <% include templates/costumers/costumer_info.ejs %>
        <% include templates/costumers/order_listing.ejs %>
        <% include templates/costumers/event_listing.ejs %>
        <% include templates/comon/footer.ejs %>

    </div>
</div>
<script type="text/javascript" src="javascripts/custom/costumer.js"></script>
</body>
</html>