<!DOCTYPE html>
<html>

<head>
    <% include templates/common/header.ejs %>
</head>

<body ng-app="customersModule">
<div id="wrapper">
    <% include templates/common/nav-bar.ejs %>

    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="CustomerController as customerCtrl"
             ng-init="customerCtrl.init(<%= customerId %>)">

            <% include templates/common/breadcrumbs.ejs %>

            <div class="row-align-center">
                <div class="span6" ng-init="customer = customerCtrl.customer">
                    <% include templates/customers/customer-info.ejs %>
                </div>

                <div class="span6" ng-init="orders = customerCtrl.orders; currentCtrl = customerCtrl">
                    <% include templates/orders/order-listing.ejs %>
                </div>

                <div class="span6" ng-init="events=customerCtrl.events; customerId=customerCtrl.customer.id">
                    <% include templates/agenda/event-listing.ejs %>
                </div>
            </div>
        </div>
        <% include templates/common/footer.ejs %>
    </div>
</div>
<script type="text/javascript" src="javascripts/custom/customers-module.js"></script>
</body>
</html>