<!DOCTYPE html>
<html>

<head>
    <% include templates/common/header.ejs %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
    <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css"
          rel="stylesheet">
</head>

<body ng-app="newEventModule">
<div id="wrapper" ng-controller="SessionController as sessionCtrl" ng-init="sessionCtrl.initCtrl('<%= user %>')">
    <% include templates/common/nav-bar.ejs %>
    <div id="page-wrapper">
        <div class="container-fluid">

            <% include templates/common/breadcrumbs.ejs %>

            <div class="row">
                <div class="span12">

                    <form action="" method="post" ng-controller="EditEventController as eventCtrl"
                          ng-init="eventCtrl.initCtrl('<%= id %>')">
                        <div class="row">
                            <div class="span12">

                                <!-- Event Type -->
                                <div class="form-group row">
                                    <label for="event-type" class="col-sm-2 col-form-label"> Tipo de evento </label>
                                    <div class="col-sm-7">
                                        <% include templates/agenda/event-type-selector.ejs %>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="form-group row">
                                    <label for="offer_description" class="col-sm-2 col-form-label"> Descrição </label>
                                    <div class="col-sm-7">
                                        <textarea style="resize:vertical;" rows="3" cols="20" class="form-control"
                                                  placeholder="Descrição"
                                                  ng-model="eventCtrl.event.Descricao"></textarea>
                                    </div>
                                </div>

                                <!-- Date, Time -->
                                <div class="form-group row">
                                    <label for="date-time" class="col-sm-2 col-form-label"> Data </label>
                                    <div name="date-time" class="col-sm-7">

                                        <div class="input-group"
                                             moment-picker="eventCtrl.event.startDate"
                                             format="YYYY-MM-DD" locale="pt">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Selecionar data de início"
                                                   ng-model="eventCtrl.event.startDate"

                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>

                                        <br>

                                        <div class="checkbox">
                                            <label><input type="checkbox" value="false"
                                                          ng-model="eventCtrl.event.TodoDia">Todo dia</label>
                                        </div>

                                        <br>

                                        <div ng-hide="eventCtrl.event.TodoDia" class="input-group"
                                             moment-picker="eventCtrl.event.startTime"
                                             format="HH:mm" locale="pt">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Selecionar hora de início"
                                                   ng-model="eventCtrl.event.startTime"
                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>

                                        <br>

                                        <div ng-hide="eventCtrl.event.TodoDia" class="input-group"
                                             moment-picker="eventCtrl.event.endTime"
                                             format="HH:mm" locale="pt">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Selecionar hora de fim"
                                                   ng-model="eventCtrl.event.endTime"
                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>

                                <!-- Customer (non-editable) -->
                                <div class="form-group row">
                                    <label for="customer" class="col-sm-2 col-form-label">Cliente</label>
                                    <div name="customer" class="col-sm-5" ng-init="currentCtrl = eventCtrl">
                                        <% include templates/customers/customer-info.ejs %>
                                    </div>
                                </div>

                                <!-- Products -->
                                <div class="form-group row">
                                    <label for="products" class="col-sm-2 col-form-label">Oportunidades de venda</label>
                                    <div name="procuts" class="col-sm-7" ng-init="newEventCtrl = eventCtrl">
                                        <% include templates/products/product-selector.ejs %>
                                    </div>
                                </div>

                                <!-- Notes -->
                                <div class="form-group row">
                                    <label for="offer_description" class="col-sm-2 col-form-label"> Notas </label>
                                    <div class="col-sm-7">
                                        <textarea style="resize:vertical;" rows="3" cols="20" class="form-control"
                                                  placeholder="Notas" ng-model="eventCtrl.event.Notas"></textarea>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="form-group row">
                                    <div class="col-sm-7 col-sm-offset-2">
                                        <button type="button" ng-click="eventCtrl.saveEvent();" class="btn btn-primary btn-block"> Alterar evento</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </form>
                </div>
            </div>
            <% include templates/common/footer.ejs %>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/custom/products-module.js"></script>
<script type="text/javascript" src="javascripts/custom/customers-module.js"></script>
<script type="text/javascript" src="javascripts/custom/events-module.js"></script>
</body>
</html>