<!DOCTYPE html>
<html>

<head>
    <% include templates/common/header.ejs %>
</head>

<body ng-app="customersModule">
<div id="wrapper">
    <% include templates/common/nav-bar.ejs %>
    <div id="page-wrapper">
        <div class="container-fluid">

            <% include templates/common/breadcrumbs.ejs %>

            <div class="row-align-center">
                <div class="span6">
                    <form ng-controller="EditCustomerController as customerCtrl"
                          ng-init="customerCtrl.initCtrl('<%= id %>')" ng-submit="customerCtrl.saveCustomer()">

                        <!-- Customer Name -->
                        <div class="form-group row">
                            <label for="customer_name" class="col-sm-2 col-form-label"> Nome </label>
                            <div class="col-sm-10">
                                {{customerCtrl.customer.Nome}}
                            </div>
                        </div>

                        <!-- Fiscal Name -->
                        <div class="form-group row">
                            <label for="fiscal_name" class="col-sm-2 col-form-label"> Nome Fiscal </label>
                            <div class="col-sm-10">
                                {{customerCtrl.customer.NomeFiscal}}
                            </div>
                        </div>

                        <!-- NIF -->
                        <div class="form-group row">
                            <label for="nif" class="col-sm-2 col-form-label"> NIF </label>
                            <div class="col-sm-10">
                                {{customerCtrl.customer.NumContribuinte}}
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="form-group row">
                            <label for="address" class="col-sm-2 col-form-label"> Morada </label>
                            <div class="col-sm-10">
                                <input name="address" ng-model="customerCtrl.customer.Fac_Mor"
                                       value="{{customerCtrl.customer.Fac_Mor}}"
                                       type="text" class="form-control" placeholder="Morada">
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label"> Email </label>
                            <div class="col-sm-10">
                                <input name="email" ng-model="customerCtrl.customer.email"
                                       value="{{customerCtrl.customer.email}}"
                                       type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <!-- Telefone -->
                        <div class="form-group row">
                            <label for="telephone" class="col-sm-2 col-form-label"> Telefone </label>
                            <div class="col-sm-10">
                                <input name="telephone" ng-model="customerCtrl.customer.Fac_Tel"
                                       value="{{customerCtrl.customer.Fac_Tel}}"
                                       type="tel" class="form-control" placeholder="Telefone">
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="form-group row">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary btn-block"> Alterar cliente </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% include templates/common/footer.ejs %>
    </div>
</div>

<script type="text/javascript" src="javascripts/custom/customers-module.js"></script>
</body>
</html>