<!DOCTYPE html>
<html>

<head>
    <% include templates/common/header.ejs %>
</head>

<body ng-app="viewEventModule">
<div id="wrapper">
    <% include templates/common/nav-bar.ejs %>
    <div id="page-wrapper">
        <div class="container-fluid">

            <% include templates/common/breadcrumbs.ejs %>

            <div class="row-align-center">
                <div class="span12">

                    <div ng-controller="EventController as eventCtrl" ng-init="eventCtrl.initCtrl('<%= id %>')">
                        <div class="row">
                            <div class="span12">

                                <!-- Event details-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Detalhes </label>
                                    <div ng-show="eventCtrl.event.DataInicio" class="col-sm-2">
                                        {{eventCtrl.event.Tipo ? eventCtrl.event.Tipo : "Reunião"}}
                                        <br>
                                        <i class="fa fa-calendar"></i>
                                        {{eventCtrl.event.DataInicio | date:"dd-MM-yyyy" }}
                                        <br>
                                        <i ng-hide="eventCtrl.event.TodoDia" class="fa fa-clock-o"></i>
                                        {{eventCtrl.event.TodoDia ? '' : eventCtrl.event.DataInicio | date:"HH:mm" }}
                                        {{eventCtrl.event.TodoDia ? '' : " até " + (eventCtrl.event.DataFim | date:"HH:mm") }}
                                        {{eventCtrl.event.TodoDia ? 'Todo o dia' : ''}}
                                    </div>
                                </div>

                                <br>

                                <!-- Event descritpion -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Descrição </label>
                                    <div class="col-sm-5">
                                        {{eventCtrl.event.Descricao}}
                                    </div>
                                </div>

                                <br>

                                <!-- Customer -->
                                <div class="form-group row">
                                    <label for="customer" class="col-sm-2 col-form-label">Cliente</label>
                                    <div name="customer" class="col-sm-5" ng-init="currentCtrl = eventCtrl">
                                        <% include templates/customers/customer-info.ejs %>
                                    </div>
                                </div>

                                <!-- Products -->
                                <div ng-show="eventCtrl.isProductOpportunity()" class="form-group row" ng-init="productsCtrl = eventCtrl; newEventCtrl = eventCtrl;">
                                    <label for="products" class="col-sm-2 col-form-label">Oportunidades de venda</label>
                                    <div name="procuts" class="col-sm-5">
                                        <% include templates/products/opportunities-listing.ejs %>
                                    </div>
                                </div>

                                <!-- Notes -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> Notas </label>
                                    <div class="col-sm-5">{{eventCtrl.event.Notas}}</div>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="form-group row">
                                <div class="col-sm-5 pull-right">
                                    <button ng-click="eventCtrl.cancelEvent(eventCtrl.event.CodReuniao)" class="btn btn-primary">Remover</button>
                                    <a href="/editar_evento?id={{eventCtrl.event.CodReuniao}}" class="btn btn-primary">Editar</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <% include templates/common/footer.ejs %>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/custom/products-module.js"></script>
<script type="text/javascript" src="javascripts/custom/events-module.js"></script>
</body>
</html>