<!DOCTYPE html>
<html ng-app="sfa">

<head>
    <title> <%= title %> </title>
    <% include templates/comon/header.ejs %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
    <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css"
          rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <% include templates/comon/nav-bar.ejs %>
    <div id="page-wrapper">
        <div class="container-fluid">

            <% include templates/comon/breadcrums.ejs %>

            <div class="row">
                <div class="span12">

                    <form action="" method="post" ng-controller="NewEventController as newEventCtrl">
                        <div class="row">
                            <div class="span12">

                                <!-- Event Type -->
                                <div class="form-group row">
                                    <label for="event-type" class="col-sm-2 col-form-label"> Tipo de evento </label>
                                    <div class="col-sm-5">
                                        <select name="=event-type" class="form-control selectpicker"
                                                ng-options="type as type.nome for type in newEventCtrl.eventTypes"
                                                ng-model="newEventCtrl.eventType">
                                        </select>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="form-group row">
                                    <label for="offer_description" class="col-sm-2 col-form-label"> Descrição </label>
                                    <div class="col-sm-5">
                                        <textarea style="resize:vertical;" rows="3" cols="20" class="form-control"
                                                  placeholder="Descrição"
                                                  ng-model="newEventCtrl.descricao"></textarea>
                                    </div>
                                </div>

                                <!-- Date, Time -->
                                <div class="form-group row">
                                    <label for="date-time" class="col-sm-2 col-form-label"> Data </label>
                                    <div name="date-time" class="col-sm-5">

                                        <div class="input-group"
                                             moment-picker="newEventCtrl.date"
                                             format="DD-MM-YYYY" locale="pt">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Selecionar data"
                                                   ng-model="newEventCtrl.date"
                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>

                                        <br>

                                        <div class="input-group"
                                             moment-picker="newEventCtrl.time"
                                             format="HH:mm" locale="pt">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Selecionar hora"
                                                   ng-model="newEventCtrl.time"
                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>

                                    </div>
                                </div>

                                <!-- Costumer -->
                                <div class="form-group row">
                                    <label for="costumer" class="col-sm-2 col-form-label">Cliente</label>
                                    <div name="costumer" class="col-sm-5">
                                        <% include templates/costumers/costumer-selector.ejs %>
                                    </div>
                                </div>

                                <!-- Products -->
                                <div class="form-group row">
                                    <label for="products" class="col-sm-2 col-form-label">Oportunidades</label>
                                    <div name="procuts" class="col-sm-5" ng-controller="OpportunitiesController as opportunitiesCtrl">
                                        <% include templates/products/product-selector.ejs %>
                                    </div>
                                </div>

                                <!-- Notes -->
                                <div class="form-group row">
                                    <label for="offer_description" class="col-sm-2 col-form-label"> Notas </label>
                                    <div class="col-sm-5">
                                        <textarea style="resize:vertical;" rows="3" cols="20" class="form-control"
                                                  placeholder="Notas" ng-model="newEventCtrl.notes"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="form-group row">
                                <div class="col-sm-5 pull-right">
                                    <a href="/clientes" class="btn btn-primary"> Cancelar</a>
                                    <button type="submit" class="btn btn-primary"> Criar evento</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <% include templates/comon/footer.ejs %>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/custom/new_event.js"></script>
</body>
</html>