<!DOCTYPE html>
<html ng-app="sfa">

<head>
    <title> <%= title %> </title>
    <% include templates/comon/header.ejs %>
</head>
<body>
<div id="wrapper">
    <% include templates/comon/nav-bar.ejs %>
    <div id="page-wrapper">
        <div class="container-fluid">

            <% include templates/comon/breadcrums.ejs %>

            <div class="row">
                <div class="span6">
                    <form ng-controller="CostumersController as costumerCtrl" ng-submit="costumerCtrl.addCostumer()">

                        <!-- Costumer Name -->
                        <div class="form-group row">
                            <label for="costumer_name" class="col-sm-2 col-form-label"> Nome </label>
                            <div class="col-sm-10">
                                <input name="costumer_name" ng-model="costumerCtrl.newCostumer.nome"
                                       value="{{costumerCtrl.newCostumer.nome}}"
                                       type="text" class="form-control" placeholder="Nome do cliente..." required>
                            </div>
                        </div>

                        <!-- Fiscal Name -->
                        <div class="form-group row">
                            <label for="fiscal_name" class="col-sm-2 col-form-label"> Nome Fiscal </label>
                            <div class="col-sm-10">
                                <input name="fiscal_name" ng-model="costumerCtrl.newCostumer.nome_fiscal"
                                       value="{{costumerCtrl.newCostumer.nome_fiscal}}"
                                       type="text" class="form-control" placeholder="Nome Fiscal ..." required>
                            </div>
                        </div>

                        <!-- NIF -->
                        <div class="form-group row">
                            <label for="nif" class="col-sm-2 col-form-label"> NIF </label>
                            <div class="col-sm-10">
                                <input name="nif" ng-model="costumerCtrl.newCostumer.contribuinte"
                                       value="{{costumerCtrl.newCostumer.contribuinte}}"
                                       type="text" class="form-control" placeholder="NIF ..." required>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="form-group row">
                            <label for="address" class="col-sm-2 col-form-label"> Morada </label>
                            <div class="col-sm-10">
                                <input name="address" ng-model="costumerCtrl.newCostumer.morada"
                                       value="{{costumerCtrl.newCostumer.morada}}"
                                       type="text" class="form-control" placeholder="Morada ...">
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label"> Email </label>
                            <div class="col-sm-10">
                                <input name="email" ng-model="costumerCtrl.newCostumer.email"
                                       value="{{costumerCtrl.newCostumer.email}}"
                                       type="email" class="form-control" placeholder="Email ...">
                            </div>
                        </div>

                        <!-- Telefone -->
                        <div class="form-group row">
                            <label for="telephone" class="col-sm-2 col-form-label"> Telefone </label>
                            <div class="col-sm-10">
                                <input name="telephone" ng-model="costumerCtrl.newCostumer.telefone"
                                       value="{{costumerCtrl.newCostumer.telefone}}"
                                       type="tel" class="form-control" placeholder="Telefone ...">
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="form-group row">
                            <div class="col-sm-10 pull-right">
                                <a href="/clientes" class="btn btn-primary"> Cancelar</a>
                                <button type="submit" class="btn btn-primary"> Adicionar cliente</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% include templates/comon/footer.ejs %>
    </div>
</div>

<script type="text/javascript" src="javascripts/custom/index.js"></script>
</body>
</html>