<!DOCTYPE html>
<html>

<head>
    <% include templates/common/header.ejs %>
</head>

<body ng-app="ordersModule">

<div id="wrapper">

    <% include templates/common/nav-bar.ejs %>
    <div class="" ng-controller="CustomerController as customerCtrl" ng-init="customerCtrl.initCtrl(<%=customerId %>); customer = customerCtrl.customer;">
        <% include templates/customers/customer-info.ejs %>
    </div>
    <% include templates/products/product-table.ejs %>
    <% include templates/common/footer.ejs %>
</div>
<script src="javascripts/custom/customers-module.js"></script>
<script src="javascripts/custom/orders-module.js "></script>
</body>
</html>