<!DOCTYPE html>
<html>

<head>
    <% include templates/common/header.ejs %>
    <link rel="stylesheet" type="text/css" href="stylesheets/pages/products.css"/>
</head>


<body ng-app="productsModule">
<div id="wrapper">
    <% include templates/common/nav-bar.ejs %>

    <div id="page-wrapper">
        <div class="container-fluid">

            <% include templates/common/breadcrumbs.ejs %>

            <div class="row" ng-controller="ProductController as productCtrl" ng-init="productCtrl.initCtrl(<%= productId %>)">

                <div class="col-md-12">

                    <div class="thumbnail">
                        <div class="caption-full">
                            <h4 class="pull-right">{{productCtrl.product.preco_atual | currency:"€"}}</h4>
                            <h4>{{productCtrl.product.nome}}</h4>
                            <p class="pull-right"> IVA {{productCtrl.product.iva_atual}}%</p>
                            <p> {{productCtrl.product.descricao}}</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <% include templates/products/warehouse-listing.ejs %>
                </div>

                <div class="col-md-12">
                    <div class="text-right">
                        <a href="/nova_encomenda?produtoId=<%= productId %>" class="btn btn-primary">Encomendar</a>
                    </div>
                </div>

            </div>

        </div>
        <% include templates/common/footer.ejs %>
    </div>
</div>

<script type="text/javascript" src="javascripts/custom/products-controller.js"></script>
</body>

</html>