<div class="widget widget-nopad">

    <div class="widget-header"><i class="fa fa-fw fa-shopping-cart"></i> Encomendas
        <a href="/nova_encomenda{{currentCtrl.customer.CodCliente ? '?clienteId=' + currentCtrl.customer.CodCliente : ''}}"
           class="pull-right"><i class="fa fa-plus-square">&nbsp</i></a>
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">


                <section ng-controller="OrdersControllerAdmin as ordersCtrl" ng-init="ordersCtrl.initCtrl()">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:ordersCtrl.isSet(1) }">
                            <a href ng-click="ordersCtrl.setTab(1)"> Por Cliente </a>
                        </li>
                        <li ng-class="{ active:ordersCtrl.isSet(2) }">
                            <a href ng-click="ordersCtrl.setTab(2)"> Por Vendedor </a>
                        </li>
                    </ul>

                    <div ng-show="ordersCtrl.isSet(2)">
                        <form>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 20%;">ID</th>
                                    <th style="width: 30%;">Data</th>
                                    <th style="width: 20%;" ng-hide="ordersCtrl.customer.Responsavel">ID Responsavel</th>
                                    <th style="width: 30%;">Total das Mercadorias</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in ordersCtrl.orders | orderBy : '-data' |  limitTo: 10">
                                    <td><a href="encomenda?id={{order.Id}}">{{order.Id}}</a></td>
                                    <td>{{order.Data}}</td>
                                    <td ng-hide="ordersCtrl.customer.Responsavel">{{order.Responsavel}}</td>
                                    <td>{{order.TotalMerc}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <div ng-show="ordersCtrl.isSet(1)">
                        <form>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 20%;">ID</th>
                                    <th style="width: 30%;">Data</th>
                                    <th style="width: 20%;" ng-hide="ordersCtrl.customer.Cliente">Cliente</th>
                                    <th style="width: 30%;">Total das Mercadorias</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in ordersCtrl.orders | orderBy : '-data' | limitTo: 10">
                                    <td><a href="encomenda?id={{order.Id}}">{{order.Id}}</a></td>
                                    <td>{{order.Data}}</td>
                                    <td ng-hide="ordersCtrl.customer.id">{{order.Entidade}}</td>
                                    <td>{{order.TotalMerc}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>