<div class="widget widget-nopad">
    <!-- widget-header -->
    <div class="widget-header"><i class="fa fa-fw fa-address-card"></i> Encomendas
        <a href="/novo_evento" class="pull-right"><i class="fa fa-plus-square">&nbsp</i></a>
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">

                <section ng-controller="CostumersController as costumerCtrl">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:costumerCtrl.isSet(1) }">
                            <a href ng-click="costumerCtrl.setTab(1)"> Em Curso </a>
                        </li>
                        <li ng-class="{ active:costumerCtrl.isSet(2) }">
                            <a href ng-click="costumerCtrl.setTab(2)"> Completas </a>
                        </li>
                        <li ng-class="{ active:costumerCtrl.isSet(3) }">
                            <a href ng-click="costumerCtrl.setTab(3)"> Canceladas </a>
                        </li>
                    </ul>

                    <div ng-show="costumerCtrl.isSet(3)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="order in costumerCtrl.orders | orderBy : '-data'" ng-show="order.status==3">
                                <p><a href="encomenda/{{order.id}}">{{order.id}}</a> <em class="pull-right">{{order.total | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="costumerCtrl.isSet(2)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="order in costumerCtrl.orders | orderBy : '-data'" ng-show="order.status==2">
                                <p><a href="encomenda/{{order.id}}">{{order.id}}</a> <em class="pull-right">{{order.total | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="costumerCtrl.isSet(1)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="order in costumerCtrl.orders | orderBy : '-data'" ng-show="order.status==1">
                                <p><a href="encomenda/{{order.id}}">{{order.id}}</a> <em class="pull-right">{{order.total | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>