<div class="widget widget-nopad">

    <div class="widget-header"><i class="fa fa-fw fa-shopping-cart"></i> Encomendas
        <a href="/nova_encomenda" class="pull-right"><i class="fa fa-plus-square">&nbsp</i></a>
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">

                <section>
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:customerCtrl.isSet(1) }">
                            <a href ng-click="customerCtrl.setTab(1)"> Em Curso </a>
                        </li>
                        <li ng-class="{ active:customerCtrl.isSet(2) }">
                            <a href ng-click="customerCtrl.setTab(2)"> Completas </a>
                        </li>
                        <li ng-class="{ active:customerCtrl.isSet(3) }">
                            <a href ng-click="customerCtrl.setTab(3)"> Canceladas </a>
                        </li>
                    </ul>

                    <div ng-show="customerCtrl.isSet(3)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="order in customerCtrl.orders | orderBy : '-data'"
                                 ng-show="order.status==3">
                                <p><a href="encomenda/{{order.id}}">{{order.id}}</a> <em class="pull-right">{{order.total
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="customerCtrl.isSet(2)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="order in customerCtrl.orders | orderBy : '-data'"
                                 ng-show="order.status==2">
                                <p><a href="encomenda/{{order.id}}">{{order.id}}</a> <em class="pull-right">{{order.total
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="customerCtrl.isSet(1)">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="order in customerCtrl.orders | orderBy : '-data'"
                                 ng-show="order.status==1">
                                <p><a href="encomenda/{{order.id}}">{{order.id}}</a> <em class="pull-right">{{order.total
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>