<div ng-controller="ProductsController as productsCtrl" ng-init="productsCtrl.initCtrl()">

    <select id="product-selector" class="form-control selectpicker"
            data-live-search-placeholder="Procurar por nome ou categoria..."
            title="Produtos" data-live-search="true" data-dropup-auto="false" data-live-search-normalize="true">
        <option ng-repeat="product in productsCtrl.products"
                value="{{product.CodArtigo}}" data-subtext="{{productsCtrl.getCategory(product.Familia)}}"
                id="product-{{product.CodArtigo}}">
            {{product.CodArtigo}} - {{product.PVP1}} €
        </option>
    </select>

    <div class="pull-right">
        <button type="button" class="btn btn-primary " ng-click="newEventCtrl.removeOpportunity()">Remover</button>
        <button type="button" class="btn btn-primary " ng-click="newEventCtrl.addOpportunity()">Adicionar</button>
    </div>
    <% include opportunities-listing.ejs %>
</div>