<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h4 class="pull-right"><span class="text-muted">PVP</span> {{product.PVP1 | currency:"€"}}</h4>
            <h4><a href="/produto?id={{product.CodArtigo}}">{{product.CodArtigo}}</a></h4>
            <p>{{product.DescArtigo}}</p>
        </div>
    </div>
</div>

