<div class="widget widget-nopad">
    <!-- widget-header -->
    <div class="widget-header">
        <i class="fa fa-fw fa-address-card"></i> Lista de Produtos
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">
                <div class="container" ng-controller="NewOrderController as newOrderCtrl">
                    <%include product-table.ejs %>
                    <button type="button" class="btn btn-primary" ng-click="newOrderCtrl.addProduct()">Adicionar Produto</button>
                    <button type="button" class="btn btn-primary" ng-click="newOrderCtrl.removeProduct()">Remover Produto</button>
                    <button type="button" class="btn btn-primary" ng-click="newOrderCtrl.editProduct()">Editar Produto</button>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>