<div>
    <select id="product-selector" class="form-control selectpicker"
            data-live-search-placeholder="Procurar por nome ou categoria..."
            title="Procurar" data-live-search="true">
        <option ng-repeat="product in productsCtrl.products"
                value="{{product.id}}" data-subtext="&emsp;{{product.PrecoMedio}} €"
                data-tokens="{{product.Familia}}"
                id="product-{{product.id}}">
            {{product.Nome}}
        </option>
    </select>
    <button type="button" class="btn btn-primary " ng-click="productsCtrl.goToPrduct()">Ver produto</button>
</div>
