<div ng-repeat="product in productsCtrl.products" ng-show="productsCtrl.filteringBy(product.categoria)">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">{{product.preco_atual | currency:"€"}}</h4>
                <h4><a href="/produto/{{product.id}}">{{product.nome}}</a></h4>
                <p>{{product.descricao}}</p>
            </div>
        </div>
    </div>
</div>
