<div ng-controller="ProductsController as productsCtrl" ng-init="productsCtrl.initCtrl()">

    <select id="product-selector" class="form-control selectpicker"
            data-live-search-placeholder="Procurar por nome ou categoria..."
            title="Produtos" data-live-search="true">
        <option ng-repeat="product in productsCtrl.products"
                value="{{product.id}}" data-subtext="&emsp;{{product.PrecoMedio}} €"
                data-tokens="{{product.Familia}}"
                id="product-{{product.id}}">
            {{product.nome}}
        </option>
    </select>

    <div class="pull-right">
    <button type="button" class="btn btn-primary " ng-click="newEventCtrl.removeOpportunity()">Remover</button>
        <button type="button" class="btn btn-primary " ng-click="newEventCtrl.addOpportunity()">Adicionar</button>
    </div>
    <!-- TODO include template Products selected -->
        <% include opportunities-listing.ejs %>
</div>