<div class="widget widget-nopad">

    <div class="widget-header">
        <i class="fa fa-fw fa-address-card"></i> Lista de Produtos
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">
                <div class="container" ng-controller="NewOrderController as newOrderCtrl">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID Produto</th>
                            <th>Quantidade</th>
                            <th>Preço Unitário</th>
                            <th>Desconto Unitário</th>
                            <th>IVA</th>
                            <th>Sub-Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in newOrderCtrl.products">
                            <td>
                                <div>
                                    <a href="/product/{{product.id}}">{{product.id}}</a>
                                </div>
                            </td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.price | currency:"€" }}</td>
                            <td>{{product.discount | currency:"€" }}</td>
                            <td>{{product.iva}}%</td>
                            <td>
                                {{(((product.iva/100)+1)*((product.price*product.quantity)-(product.discount*product.quantity)))
                                | currency:"€"}}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>TOTAL</b></td>
                            <td>{{newOrderCtrl.total() | currency:"€"}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>