<div class="widget widget-nopad">
    <div class="widget-header"><i class="fa fa-fw fa-dropbox"></i> Armazéns
    </div>

    <div  class="widget-content">
        <div ng-show="productCtrl.loadingWarehouses" class="col-md-9">
            <% include ../common/loading.ejs %>
        </div>

        <div ng-hide="productCtrl.loadingWarehouses" class="widget big-stats-container">
            <div class="widget-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Morada</th>
                        <th>Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="warehouse in productCtrl.warehouses | orderBy : '-Armazem'">
                        <td>{{warehouse.Armazem}}</td>
                        <td>{{warehouse.Morada}},{{warehouse.Localidade}} {{warehouse.CodPostal}} {{warehouse.Lote}}</td>
                        <td>{{warehouse.Stock}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>