<div class="widget widget-nopad">
    <!-- widget-header -->
    <div class="widget-header"><i class="fa fa-fw fa-address-card"></i> Clientes
        <a href="/registar" class="pull-right"><i class="fa fa-plus-square">&nbsp</i></a>
    </div>

    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">

                <section ng-controller="UsersController as usersCtrl" ng-init="usersCtrl.initCtrl()">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:usersCtrl.isSet(1) }">
                            <a href ng-click="usersCtrl.setTab(1)">Top</a>
                        </li>
                        <li ng-class="{ active:usersCtrl.isSet(3) }">
                            <a href ng-click="usersCtrl.setTab(3)">Todos</a>
                        </li>
                    </ul>

                    <div ng-show="usersCtrl.isSet(2)">
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="customer in customersCtrl.customers | orderBy : '-vendas'">
                                <p><a href="cliente?id={{customer.id}}">{{customer.nome}}</a> <em class="pull-right">{{customer.vendas
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="usersCtrl.isSet(1)">
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="user in usersCtrl.users | orderBy : '-vendas' | limitTo : 10">
                                <p><a href="/perfil?id={{user.id}}">{{user.nome}}</a> <em class="pull-right">{{user.vendas
                                        | currency:"€"}}</em></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>